@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
  --Gold: #EB7E40;
  --Cyan: #106379;
  --Desert-Rose: #FBE5D9;
  --Light-Cyan: #21A8AA;
  --Light-Gray: #DBDBDB;
  --Black: #000000;
  --White: #F3F3F3;
}

a{
  text-decoration: none;
  color: var(--Cyan);

}
a:hover{
    color:#EB7E40;
    transform: translateY(-0.2px) scale(1.02); 
  cursor: pointer;
}


body{
  font-family: "Poppins", serif;
  font-style: normal;
  font-size: 20px;
  padding: 0;
  margin: 0;
  
}


/*===============
NavBar logo and link
==============*/
nav{
    
    width: 50%;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", serif;
    font-style: normal;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    
  }
  
  
  .logo{
    display: flex;
    align-items: center;
    
  }
  .logo-icon{
    max-width: 40px;
    
  }
  .nam-web{
    color: #EB7E40;
    font-family: "Poppins", serif;
    font-style: normal;
    font-weight: 700;
  }

  
.menu-head {
    list-style: none;
    display: flex;
    column-gap: 40px;
  }
  
  .menu-head a:hover{
    color:#EB7E40;
  }

  /*===============
     End NavBar logo and link
==============*/


/*==============
login box(text and pass)
================*/
.login-form{
    
    display: flex;
   
}
.login-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 550px;
    padding: 30px;
    width: 50%;
    margin-top: 150px;
}

.login-header{
    text-align: center;
    margin: 50px 0px 70px 90px;
   
}

.login-header header{
    color:#000000;
    font-weight: 700;
    font-size: 30px;
}

.input-box .input-field{
width: 50%;
height: 60px;
padding: 0 25px;
margin-bottom: 40px;
margin-left: 230px;
border-radius: 30px;
border: none;
background-color: #EB7E40;
box-shadow: 0 5px 10px 1px;
outline: none;
transition: .3ss;
text-align: center;
}

::placeholder{
font-weight: 700;
color: #DBDBDB;
font-size: 15px;

}

input-field:focus{
    width:105%
}

.forgot{
display: flex;
justify-content: space-between;
margin: 60px;
margin-left: 280px;

}

section{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #106379;
}
span{
    margin-left: 100px;
}

#check{
margin-right: 5px;
}

.input-submit{
position: relative;

}
.submit-dtn{
    width: 50%;
    height: 60px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
    margin-left:255px;
    margin-top: 20px;
    color: #106379;
    font-weight: 700;
    font-size: 20px;
}



/*================
img div
=================*/
.img-div {
    width: 60%;
    display: flex;
    
 }

.img-div img {
    max-width: 100%; 
    height: auto;
}

/*================
End img div
=================*/



/*====================
media query for medium screens
====================*/


@media (max-width:1630px) {
  .login-header{
    text-align: center;
    margin: 50px 0px 70px 150px;
   
}

 .forgot{
    display: flex;
    justify-content: space-between;
    margin: 60px;
    margin-left: 250px;
    }

  
  span{
    margin-left: 40px;
}


}

@media(max-width:1430px){
  
  .login-header{
    text-align: center;
    margin: 50px 0px 70px 100px;
   
}


.input-box .input-field{
  width: 50%;
  height: 60px;
  padding: 0 25px;
  margin-bottom: 40px;
  margin-left: 150px;
  border-radius: 30px;
  border: none;
  background-color: #EB7E40;
  box-shadow: 0 5px 10px 1px;
  outline: none;
  transition: .3ss;
  
  }

  .submit-dtn{
    width: 50%;
    height: 60px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
    margin-left:170px;
    margin-top: 20px;
    color: #106379;
    font-weight: 700;
    font-size: 20px;
}
.forgot{
  display: flex;
  justify-content: space-between;
  margin: 60px;
  margin-left: 130px;
  }



}


@media(max-width:1165px){

  nav{
    
    width: 50%;
    padding: 50px 10px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", serif;
    font-style: normal;
    box-sizing: border-box;
    position: fixed;
    top: 0;
  }

  .login-header{
    text-align: center;
    margin: 50px 0px 70px 50px;
   
}


.input-box .input-field{
  width: 50%;
  height: 60px;
  padding: 0 25px;
  margin-bottom: 40px;
  margin-left: 100px;
  border-radius: 30px;
  border: none;
  background-color: #EB7E40;
  box-shadow: 0 5px 10px 1px;
  outline: none;
  transition: .3ss;
  
  }

  .submit-dtn{
    width: 50%;
    height: 60px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
    margin-left:120px;
    margin-top: 20px;
    color: #106379;
    font-weight: 700;
    font-size: 20px;
}
.forgot{
  display: flex;
  justify-content: space-between;
  margin: 60px;
  margin-left: 100px;
  
  }
  

    
    section{
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #106379;
    }
    span{
        margin-left: 50px;
    }
    
  }

@media(max-width:850px)

{
  .img-div {
    display: none;
    
 }

.img-div img {
    display: none;
}

nav{
    
  width: 100%;
  padding: 50px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", serif;
  font-style: normal;
  box-sizing: border-box;
  position: fixed;
  top: 0;
}

.login-box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 550px;
  padding: 30px;
  margin-top: 150px;
}

.login-header{
  text-align: center;
  margin: 50px 0px 70px 0px;
 
}

.input-box .input-field{
  width: 50%;
  height: 60px;
  padding: 0 25px;
  margin-bottom: 40px;
  margin-left: 140px;
  border-radius: 30px;
  border: none;
  background-color: #EB7E40;
  box-shadow: 0 5px 10px 1px;
  outline: none;
  transition: .3ss;
  
  }

  .submit-dtn{
    width: 50%;
    height: 60px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
    margin-left:160px;
    margin-top: 20px;
    color: #106379;
    font-weight: 700;
    font-size: 20px;
}


.forgot{
  display: flex;
  justify-content: space-between;
  margin: 60px;
  margin-left: 160px;
  
  }
  span{
    margin-left: 50px;
}

}

@media(max-width:602px){
  .img-div {
    display: none;
    
 }

.img-div img {
    display: none;
}

nav{
    
  width: 100%;
  padding: 50px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", serif;
  font-style: normal;
  box-sizing: border-box;
  position: fixed;
  top: 0;
}
 
.menu-head {
  list-style: none;
  display: flex;
  column-gap: 40px;
  margin-right: 40px;
}
.login-box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 550px;
  padding: 30px;
  margin-top: 150px;
}

.login-header{
  text-align: center;
  margin: 50px 0px 70px 20px;
 
}

.input-box .input-field{
  width: 50%;
  height: 60px;
  padding: 0 25px;
  margin-bottom: 40px;
  margin-left: 100px;
  border-radius: 30px;
  border: none;
  background-color: #EB7E40;
  box-shadow: 0 5px 10px 1px;
  outline: none;
  transition: .3ss;
  
  }

  .submit-dtn{
    width: 50%;
    height: 60px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
    margin-left:120px;
    margin-top: 20px;
    color: #106379;
    font-weight: 700;
    font-size: 20px;
}


.forgot{
  display: flex;
  justify-content: space-between;
  margin: 60px;
  margin-left: 100px;
  
  }
  span{
    margin-left: 50px;
   
}
}

@media(max-width:455px){
  .img-div {
    display: none;
    
 }

.img-div img {
    display: none;
}

nav{
    
  width: 100%;
  padding: 50px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", serif;
  font-style: normal;
  box-sizing: border-box;
  position: fixed;
  top: 0;
}
 
.menu-head {
  list-style: none;
  display: flex;
  column-gap: 40px;
  margin-right: 30px;
}
.login-box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 550px;
  padding: 30px;
  margin-top: 150px;
}

.login-header{
  text-align: center;
  margin: 50px 0px 70px 20px;
 
}

.input-box .input-field{
  width: 50%;
  height: 60px;
  padding: 0 25px;
  margin-bottom: 40px;
  margin-left: 80px;
  border-radius: 30px;
  border: none;
  background-color: #EB7E40;
  box-shadow: 0 5px 10px 1px;
  outline: none;
  transition: .3ss;
  
  }

  .submit-dtn{
    width: 50%;
    height: 60px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
    margin-left:100px;
    margin-top: 20px;
    color: #106379;
    font-weight: 700;
    font-size: 20px;
}


.forgot{
  display: flex;
  justify-content: space-between;
  margin: 60px;
  margin-left: 80px;
  
  }
  span{
    margin-left: 40px;
   
}

}

