
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
  --Gold: #EB7E40;
  --Cyan: #106379;
  --Desert-Rose: #FBE5D9;
  --Light-Cyan: #21A8AA;
  --Light-Gray: #DBDBDB;

  --Black: #000000;
  --White: #F3F3F3;
}

a{
  text-decoration: none;
  color: var(--White);

}
h1,h2,h3,h4,h5.h6{
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

body{
  font-family: "Poppins", serif;
  font-style: normal;
  font-size: 14px;
  padding: 0;
  margin: 0;
}


/*navbar and logo*/
nav{
  width: 100%;
  padding: 15px 100px;
  background-color: #106379;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", serif;
  font-style: normal;
  box-sizing: border-box;
  }
  .logo{
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
  .logo-icon{
    max-width: 50px;
    
  }
  .nam-web{
    color: #EB7E40;
    font-family: "Poppins", serif;
    font-style: normal;
    font-weight: 700;
    
  }
  
  .menu-head {
    list-style: none;
    display: flex;
     column-gap: 40px;
     
  }
  
  
  a{ 
    text-decoration: none;
    font-weight: 700px;
    color:#DBDBDB;
  }
  a:hover{
    
color:#EB7E40;

  }
  
  button{
    width: 80px;
    height: 25px;
    background-color:#EB7E40;
    border-radius: 20px;
    font-weight: 700;
    color:#DBDBDB;
    border: #DBDBDB;
  }
  button:hover{
    transform: translateY(-0.2px) scale(1.02); /* Lift effect */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  /* End navbar and logo*/
  
  
  
    /*About body content*/
      .about-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        
      }
    .paragraph{
      font-family: "Poppins", serif;
      font-weight: 700;
      font-style: normal;
      color: #106379;
      text-align: center;
      font-size: 25px;
      margin-left: 300px;
      margin-top: 200px;
      
    }
    span{
      color: #EB7E40;
    }
    .img{
      width:500px ;
      height: auto;
      margin-right: 300px;
      margin-top: 150px;
    }
    /*End About body content*/
    
  /*tital-paragraph-div*/
  
  .tital-paragraph-div{
    width: 100%;
    background-color: #FBE5D9;
    text-align: center;
    margin-top: 200px;
    color: #106379;
    font-family: "Poppins", serif;
    font-style: normal;
    font-weight: 700;
  }
  .title{
  padding-top: 20px;
  
  }
  
  .t-papag{
    padding-bottom: 20px;
  }
  /*End tital-paragraph-div*/
  
  
  

/*===========================
    The Resources Section
=============================*/

.container{
  margin-top: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,200px);
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.card{
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card img{
  width: 100%;
  height: 80px;
 }
.card h3{
  color: var(--Light-Cyan);
  font-size: 1em;
}
.card p{
  color: var(--Cyan);
  font-size: 0.6em;
  text-align: center;

}

.btn-card{
  color: var(--White);
  background-color: var(--Cyan);
  padding: 8px 15px;
  border: none;
  font-weight: 400;
  margin-top: 10px;
  font-size: 8px;
  border-radius: 5px;
}

.btn-card:hover {
  background: linear-gradient(135deg, var(--Cyan), #005f73); /* Distinct gradient effect */
  color: var(--White);
  transform: translateY(-0.2px) scale(1.02); /* Lift effect */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
/*===========================
   End of Resources Section
=============================*/
/*===========================
   the footer Section
=============================*/
footer{
  background-color: var(--Cyan);
  position:static;
  bottom: 0;
  width: 100%;
  height: 80px;
  padding-top: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  
}

.first{
  padding-inline: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.footer-icons i{
  color: var(--White);
  border-radius: 2px;
  font-size: 20px;
  padding: 1px;
}

.footer-icons i:hover{
  background-color: var(--Gold);
}
.logo-footer{
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding-bottom: 10px;
}
.logo-footer img{
  width: 25px;
}
.logo-footer span{
  color: var(--Gold);
}
.first{
  border-bottom: 1px solid var(--White);
}
.last{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--White);
  padding-top: 15px;
  font-size: 12px;
}
/*===========================
   End of footer Section
=============================*/